package io.github.muehmar;


public abstract class CustomerExtension {
  protected CustomerExtension() {
    final Object o = this;
    if(!(o instanceof Customer))
      throw new IllegalArgumentException("Only class Customer can extend CustomerExtension.");
  }

  private Customer self() {
    final Object self = this;
    return (Customer)self;
  }



















}